body {
  background-color: #41393E;

}
.img-fluid {
  margin-bottom: .8em;
  border-style: solid;
  border-width: .1em;
  border-radius: .8em;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.center-items {
  align-items: center;
}

.center-self {
  align-self: center;
  height: fit-content;
  justify-items: center;
  text-overflow: ellipsis;
  max-width: calc(100% - 140px);
  white-space: nowrap;
  overflow: hidden;
  font-size: small;
}

.center-content {
  align-items: center;
  justify-content: center;
  background: linear-gradient(#bf9aca,#c7e8f3 );
  position:sticky;
}

@font-face {
  font-family: Vibur;
  src: url(https://fonts.googleapis.com/css2?family=Vibur&display=swap);
}

.nav-link {
  color:#8E4162;
  font-family: 'Vibur', cursive;
  text-shadow:
    0 0 7px #c7e8f3,
    0 0 10px #c7e8f3,
    0 0 21px #c7e8f3,
    0 0 42px #bf9aca,
    0 0 82px #bf9aca,
    0 0 92px #bf9aca,
    0 0 102px #bf9aca,
    0 0 151px #bf9aca;
}
.nav-pills {
  height: 100%;
  box-sizing: border-box;
  margin-top: .8em;
  text-align: center;
  background: transparent;
}
.nav-item {
  border-radius: .8em;
  background: transparent;
}
.nav-item:hover {
  background-color: #8E4162 ;
}

.card-title {
  margin: auto;
  width: 40%;
  padding-bottom: 1em;
  background: linear-gradient(#bf9aca,#eda2c0 );
  background-image: linear-gradient(to left, #8E4162 1%, #bf9aca 100%),
  linear-gradient(to left, #8E4162 1%, #c7e8f3 50%, #bf9aca 100%);
  background-size: 100% 3px;
  background-position: 0% 0%, 0% 100%;
  background-repeat: no-repeat;
  color: #c7e8f3;
}

.rounded-circle {
  margin-bottom: 2em;
  margin-top: 1em;
}
.card-text {
  background: transparent;
  margin-left: 1em ;
}

.card-text, #project-title {
  color: aliceblue;
}

.card-subtitle {
  color: #41393E;
  background: transparent;
}

.mb-2 text-muted card-subtitle h6 {
  color: black;
}

#controlled-tab-example-tab-Global, #controlled-tab-example-tab-friends, #controlled-tab-example-tab-mine,
#controlled-tab-example-tab-shared, #controlled-tab-example-tab-search {
  background: transparent;
}

.iconify  {
  background: transparent;
}

.grow {
  flex-grow: 1
}

.no-bottom {
  border-bottom: none;
}

.no-radius {
  border-radius: 0;
}

.sticky-header{
  position: sticky;
  top:0;
  z-index: 4;
  background-color: white;
}

.header-shadow {
  box-shadow: 0px 3px 3px 0 rgb(0 0 0 / 30%);
}

/* OVERRIDE TO BOOTSTRAP CLASS */
.card-shadow {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
}

.small-margin-bottom {
  margin-bottom: 3px;
}

.filter-btn {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
}

.back-btn {
  border-radius: 100px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  z-index: 30;
  position: absolute;
}

.back-btn {
  border-radius: 100px;
  width: 30px;
  height: 30px;
  padding: 0;
  z-index: 30;
  position: absolute;
  margin-top: 2%;
  margin-left: 90%;
}

.offcanvas-start {
  width: 250px;
}

.tab-detail {
  font-style: italic;
  font-size: smaller;
  color: gray;
}

.center-text {
  text-align: center;
}

.projects-header {
  padding: 20px;
  font-size: 30px;
  text-shadow: 1px 1px 5px rgb(0 0 0 / 40%);
}

.bottom-right {
  position: absolute;
  top: calc(100vh - 80px);
  right: 20px;
  z-index: 4;
}

.track {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.padding-top {
  padding-top: 10px;
}

.waveform-container {
  margin-bottom: 3%;
}

#waveform {
  margin-bottom: 1%
}

.waveform {
  position: relative;
}

.waveform-timeline {
  position: relative;
}

.time-current, .form-label, .page-title {
  color:#c7e8f3
}

.playlist-item-selected {
  cursor: default;
  background-color: rgba(256, 256, 256, 0.3);
}

.playlist-item:hover {
  cursor: pointer;
}

.playlist-item, .playlist-item-selected {
  margin-top: 3px;
  padding: 10px;
  border: 1px solid #ececec;
  border-radius: 3px;
  border-bottom: 1px solid #ececec;
}

.profile-div {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 20%;


}

.friends-list {
  border: 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  width: 50%;
  margin-left: 60px;
  margin-top: 10px;
}
.friends-list-ol {
  border-radius: 6%;
  background-color: #C7E8F3;
  color: #8E4162;
  cursor: pointer;

}
.friends-title {
  color: #8E4162
}

.up-and-down-arrow {
  background:linear-gradient(to bottom, #8e4162 5%, #eda2c0 100%);
  background-color:#8e4162;
  border-radius:7px;
  border:1px solid #566963;
  display:inline-block;
  cursor:pointer;
  color:#c7e8f3;
  font-family:Arial;
  font-size:17px;
  padding:5px 29px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2b665e;
}
.up-and-down-arrow:hover {
  background:linear-gradient(to bottom, #eda2c0 5%, #8e4162 100%);
  background-color:#eda2c0;
}

.search-bar-bottom {
  display:flex;
  justify-content: row;
}

.friends-list-photo {
  border-radius: 50%;
  height: 30px;
}

#profile-image-upload {
  visibility: hidden;
}

#mixing {
  position: relative;
  display: flex;
  justify-content: flex-staart;
}

#mix-btn {
  position: relative;
  margin: 1rem;
  bottom: 0;
  right: 0;
}

#download-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.slider {
  -webkit-appearance: slider-vertical;
  opacity: 0;
  width: 9%;
  height: 100%;
}
.text-center {
  background: transparent;
}

.offcanvas-body, .card-footer, .card-header {
  background: linear-gradient(#8E4162, #eda2c0) !important;
}

.offcanvas-header{
  background-color: #8E4162;
}

.waveform {
  background-color: #eda2c0;
}

#header-title {
  background: linear-gradient(#eda2c0, #8e4162, #41393E ) !important;
}

.pencilIcon {
  display: inline-flex;
  border-radius: 2em;
  /* background-color: white; */
  /* outline: .2em solid #eda2c0; */
  position: sticky;
  right: 7em;
  margin-top: 7em;
  padding: 5px;
}

/* WIP CSS */

body
, .card {
  color: white;
  background-color: black;
  font-family: 'Montserrat Alternates', sans-serif;
}

.button-white {
  color: white
}

.card-shadow
, .list-group
, .form-control
, .form-control:focus
, .pencilIcon {
  background-color:#41393E;
  border: 0.1rem solid #fff;
  color: white;
  box-shadow: 0 0 0.1rem #fff,
    0 0 0.1rem #fff,
    0 0 1rem #8E4162,
    0 0 0.4rem #8E4162,
    0 0 1.4rem #8E4162;
}

.list-group-item {
  background-color: #41393E;
  border: none;
  color: white;
}

.card-shadow {
  margin: 15px;
  margin-bottom: 30px;
}

.card-shadow
, .card-header
, .offcanvas {
  background-color:#8E4162;
}

.btn-primary {
  color: #fff;
  outline: none;
  border-color: #C7E8F3;
  background-color: #C7E8F38e;
  border-radius: 0.1rem;
  box-shadow: 0 0 0.05rem #fff,
  0 0 0.05rem #fff,
  0 0 0.5rem #C7E8F3,
  0 0 0.2rem #C7E8F3,
  0 0 0.7rem #C7E8F3;
}

.btn-primary:focus
, .btn-primary:hover {
  color: #fff;
  outline: none;
  border-color: #9cd4e6;
  background-color: #869fa78e;
  border-radius: 0.1rem;
  box-shadow: 0 0 0.05rem #fff,
  0 0 0.05rem #fff,
  0 0 0.5rem #9cd4e6,
  0 0 0.2rem #9cd4e6,
  0 0 0.7rem #9cd4e6;
}

.btn-outline-light
, .btn-outline-light:focus
, .btn-outline-light:hover
, .btn-outline-light
, .btn-outline-light:focus
, .btn-outline-light:hover
, .btn-outline-light
, .btn-outline-light:focus
, .btn-outline-light:hover
{
  color: white;
  outline: white;
  border-color: white;
}

.btn-outline-light:focus
, .btn-outline-light:hover
, .btn-outline-light:focus
, .btn-outline-light:hover
, .btn-outline-light:focus
, .btn-outline-light:hover
{
  background-color: rgba(0, 0, 0, 0.1);
}

.modal-content
, .modal-title
, .modal-body
, .modal-footer {
  background-color: #41393E;
}

.card-coffee {
  background-color: black;
}

.highlightOption
, .chip {
  background-color: #8e4162e0;
}

a {
  color: white
}