#eq-popup {
  position: static;
  top: 1em;
  padding: 1em;
  background-color: white;
  border: 1em solid black;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.center-items {
  align-items: center;
}

.center-self {
  align-self: center;
  height: fit-content;
  justify-items: center;
  text-overflow: ellipsis;
  max-width: calc(100% - 140px);
  white-space: nowrap;
  overflow: hidden;
}

.center-content {
  align-items: center;
  justify-content: center;
}

.grow {
  flex-grow: 1
}

.no-bottom {
  border-bottom: none;
}

.no-radius {
  border-radius: 0;
}

.sticky-header{
  margin-bottom: 10px;
  position: sticky;
  top:0;
  z-index: 4;
  background-color: white;
}

.header-shadow {
  box-shadow: 0px 3px 3px 0 rgb(0 0 0 / 30%);
}

/* OVERRIDE TO BOOTSTRAP CLASS */
.card-shadow {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
}

.small-margin-bottom {
  margin-bottom: 3px;
}

.filter-btn {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
}

.mb-3-top {
  margin-top: 1rem;
}

.offcanvas-start {
  width: 250px;
}

/* END OVERRIDE */

.tab-detail {
  margin: 0 8px 14px 8px;
  padding: 0 8px 14px 8px;
  font-style: italic;
  font-size: smaller;
  color: gray;
}

.center-text {
  text-align: center;
}

.projects-header {
  padding: 20px;
  font-size: 30px;
}

.bottom-right {
  position: absolute;
  top: calc(100vh - 80px);
  right: 20px;
  z-index: 4;
}

.track {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.padding-top {
  padding-top: 10px;
}

.waveform-container {
  margin-bottom: 3%;
}

#waveform {
  margin-bottom: 1%
}

.waveform {
  position: relative;
}

.waveform-timeline {
  position: relative;
}

.time-current {
  color: orangered
}

.playlist-item-selected {
  color : orangered;
  cursor: default;
}

.playlist-item:hover {
  cursor: pointer;
}

.playlist-item, .playlist-item-selected {
  padding-bottom: 2.5%;
  margin-bottom: 2.5%;
  border-bottom: 1px solid #ececec;
}

.profile-div {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 20%;


}

.friends-list {
  border: 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  width: 50%;
  margin-left: 60px;
  margin-top: 10px;
}
.friends-list-ol {
  border-radius: 6%;
  background-color: #C7E8F3;
  color: #8E4162;
  cursor: pointer;

}
.friends-title {
  color: #8E4162
}

.up-and-down-arrow {
  background:linear-gradient(to bottom, #8e4162 5%, #eda2c0 100%);
  background-color:#8e4162;
  border-radius:7px;
  border:1px solid #566963;
  display:inline-block;
  cursor:pointer;
  color:#c7e8f3;
  font-family:Arial;
  font-size:17px;
  padding:5px 29px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2b665e;
}
.up-and-down-arrow:hover {
	background:linear-gradient(to bottom, #eda2c0 5%, #8e4162 100%);
	background-color:#eda2c0;
}

.search-bar-bottom {
  display:flex;
  justify-content: row;
  margin-top: 10px;
}

.friends-list-photo {
  border-radius: 50%;
  height: 30px;
}


#profile-image-upload {
  visibility: hidden;
}

#mixing {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

#mix-btn {
  position: relative;
  margin: 2rem;
  bottom: 0;
  right: 0;
}

#download-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 2rem;
}

#download {

}

/*

Used on PROJECTS Page
https://getbootstrap.com/docs/5.1/components/card/#using-custom-css

*/

.slider {
  -webkit-appearance: slider-vertical;
  opacity: 0;
  width: 9%;
  height: 100%;
}