.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.center-items {
  align-items: center;
}

.grow {
  flex-grow: 1
}

.sticky-header{
  position: -webkit-sticky;
  position: sticky;
  top:0;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 5px 5px 0 rgba(0, 0, 0, 0.4);
}

/* OVERRIDE TO BOOTSTRAP CLASS */
.card {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
}

.center-text {
  text-align: center;
}

.projects-header {
  padding: 40px;
}

.bottom-right {
  position: absolute;
  top: calc(100vh - 80px);
  right: 20px;
}

.track {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.padding-top {
  padding-top: 10px;
}

.waveform-container {
  margin-bottom: 3%;
}

#waveform {
  margin-bottom: 1%
}

#time-current {
  color: orangered
}

.playlist-item-selected {
  color : orangered;
  cursor: default;
}

.playlist-item:hover {
  cursor: pointer;
}

.playlist-item, .playlist-item-selected {
  padding-bottom: 2.5%;
  margin-bottom: 2.5%;
  border-bottom: 1px solid #ececec;
}

/*

Used on PROJECTS Page
https://getbootstrap.com/docs/5.1/components/card/#using-custom-css

*/