body {
  background-color: #41393E;
  
}
.img-fluid {
  margin-bottom: .8em;
  border-style: solid;
  border-width: .8em;
  /* border-color: #8e4162; */
  /* border-color: #c7e8f3; */
  border-radius: .8em;
}


#eq-popup {
  position: static;
  top: 1em;
  padding: 1em;
  background-color: white;
  border: 1em solid #41393E;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-between {
  justify-content: space-between;
}

.center-items {
  align-items: center;
}

.center-self {
  align-self: center;
  height: fit-content;
  justify-items: center;
  text-overflow: ellipsis;
  max-width: calc(100% - 140px);
  white-space: nowrap;
  overflow: hidden;
}

.center-content {
  align-items: center;
  justify-content: center;
  background: linear-gradient(#bf9aca,#c7e8f3 ); 
  margin-bottom: 2em;
  position:sticky;


}
@font-face {
  font-family: Vibur;
  src: url(https://fonts.googleapis.com/css2?family=Vibur&display=swap);
}
.nav-link {
  color:#8E4162;
  font-family: 'Vibur', cursive;

  text-shadow:
    0 0 7px #c7e8f3,
    0 0 10px #c7e8f3,
    0 0 21px #c7e8f3,
    0 0 42px #bf9aca,
    0 0 82px #bf9aca,
    0 0 92px #bf9aca,
    0 0 102px #bf9aca,
    0 0 151px #bf9aca;
}
.nav-pills {
  height: 100%;
  box-sizing: border-box;
  margin-top: .8em;
  text-align: center;
  background: transparent;
}
.nav-item {
  
  border-radius: .8em;
  background: transparent;

}
.nav-item:hover {
  background-color: #8E4162 ;
}

.card-title {

  margin: auto;
  width: 40%;
  padding-bottom: 1em;
  background: linear-gradient(#bf9aca,#eda2c0 ); 
  background-image: linear-gradient(to left, #8E4162 1%, #bf9aca 100%), 
  linear-gradient(to left, #8E4162 1%, #c7e8f3 50%, #bf9aca 100%);
background-size: 100% 3px;
background-position: 0% 0%, 0% 100%;
background-repeat: no-repeat;
color: #c7e8f3;

  
}
.rounded-circle {
  margin-bottom: 2em;
  margin-top: 1em;
}
.card-text {
  background: transparent;
  margin-left: 1em ;

}



.card-shadow, .center-items, #project-title {
  background-color: #bf9aca;
  /* color: #41393E; */
}
.card-text, #project-title {
  color: aliceblue;
}
.card-subtitle {
  color: #41393E;
  background: transparent;
}
.card-body {
  border-style: solid;
  border-width: .8em;
  background: #41393E;
  
}

.mb-2 text-muted card-subtitle h6 {
  color: black;
}
#controlled-tab-example-tab-Global, #controlled-tab-example-tab-friends, #controlled-tab-example-tab-mine,
#controlled-tab-example-tab-shared, #controlled-tab-example-tab-search {
  background: transparent;
}

.btn {
  background-color: #eda2c0 !important;
  
}
.iconify  {
  background: transparent;

}
.grow {
  flex-grow: 1
}

.no-bottom {
  border-bottom: none;
}

.no-radius {
  border-radius: 0;
}

.sticky-header{
  /* margin-bottom: 10px; */
  position: sticky;
  top:0;
  z-index: 4;
  background-color: white;
}

.header-shadow {
  box-shadow: 0px 3px 3px 0 rgb(0 0 0 / 30%);
}

/* OVERRIDE TO BOOTSTRAP CLASS */
.card-shadow {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4);
}

.small-margin-bottom {
  margin-bottom: 3px;
}

.filter-btn {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
}

/* .mb-3-top {
  margin-top: 1rem;
} */

.offcanvas-start {
  width: 250px;
}

/* END OVERRIDE */

.tab-detail {
  /* margin: 0 8px 14px 8px; */
  /* padding: 0 8px 14px 8px; */
  font-style: italic;
  font-size: smaller;
  color: gray;
}

.center-text {
  text-align: center;
}

.projects-header {
  padding: 20px;
  font-size: 30px;
}

.bottom-right {
  position: absolute;
  top: calc(100vh - 80px);
  right: 20px;
  z-index: 4;
}

.track {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}

.padding-top {
  padding-top: 10px;
}

.waveform-container {
  margin-bottom: 3%;
}

#waveform {
  margin-bottom: 1%
}

.waveform {
  position: relative;
}

.waveform-timeline {
  position: relative;
}

.time-current, .form-label, .page-title {
  color:#c7e8f3
}

.playlist-item-selected {
  color : #c7e8f3;
  cursor: default;
}

.playlist-item:hover {
  cursor: pointer;
}

.playlist-item, .playlist-item-selected {
  margin-top: 3px;
  padding: 10px;
  border: 1px solid #ececec;
  background-color: white;
  border-radius: 3px;
  border-bottom: 1px solid #ececec;
}

.profile-div {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin-left: 20%;


}

.friends-list {
  border: 1px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  width: 50%;
  margin-left: 60px;
  margin-top: 10px;
}
.friends-list-ol {
  border-radius: 6%;
  background-color: #C7E8F3;
  color: #8E4162;
  cursor: pointer;

}
.friends-title {
  color: #8E4162
}

.up-and-down-arrow {
  background:linear-gradient(to bottom, #8e4162 5%, #eda2c0 100%);
  background-color:#8e4162;
  border-radius:7px;
  border:1px solid #566963;
  display:inline-block;
  cursor:pointer;
  color:#c7e8f3;
  font-family:Arial;
  font-size:17px;
  padding:5px 29px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2b665e;
}
.up-and-down-arrow:hover {
  background:linear-gradient(to bottom, #eda2c0 5%, #8e4162 100%);
  background-color:#eda2c0;
}

.search-bar-bottom {
  display:flex;
  justify-content: row;
  /* margin-top: 10px; */
}

.friends-list-photo {
  border-radius: 50%;
  height: 30px;
}


#profile-image-upload {
  visibility: hidden;
}

#mixing {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

#mix-btn {
  position: relative;
  margin: 2rem;
  bottom: 0;
  right: 0;
}

#download-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 2rem;
}

#download {

}

/*

Used on PROJECTS Page
https://getbootstrap.com/docs/5.1/components/card/#using-custom-css

*/

.slider {
  -webkit-appearance: slider-vertical;
  opacity: 0;
  width: 9%;
  height: 100%;
}
.text-center {
  background: transparent;
}
.profile-top {
  background-color: #eda2c0;

}
.btn-toolbar, .friends-title {
  background-color: #C7E8F3;
}
.offcanvas-body, .card-footer, .card-header {
  background: linear-gradient(#eda2c0, #C7E8F3 ) !important;
}
.offcanvas-header{
  background-color: #8E4162;
}
.waveform {
  background-color: #eda2c0;
}
#header-title {
  background: linear-gradient(#eda2c0, #8e4162, #41393E ) !important;

}
